<form action="/favourites" method="POST" class="w-full mt-4">
  <button
    type="submit"
    class="bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-700 hover:to-pink-700 active:scale-95 transition duration-300 text-white font-bold rounded-xl px-4 py-1 shadow-md w-full text-center focus:outline-none focus:ring-2 focus:ring-purple-300 text-xs sm:text-sm"
  >
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
